body {
	/*background: #444 url(snow_@2X.png) repeat;*/
}

a {
    text-decoration: none;
    color: #000;
}

/*-----Boxes------*/



.col-md-9:hover,
.col-md-9:focus,
.col-md-6:hover,
.col-md-6:focus,
.col-md-3:hover,
.col-md-3:focus,
.progressBox:hover,
.progressBox:focus,
.dealsBox:hover,
.dealsBox:focus {
	background-color: #fff;
}

.bodyBox {
	color:#000;
}

.golfMeeterBox,
.createEventBox {
	height:200px;
	margin: 0;
}
/*-------Golfmeeter Box-----------*/



.golfMeeterBox #profileName {
	font-size: 10px;
    font-weight: bold;
}

.scrollie {
    width:845px;
    height:145px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*border: 1px solid #ddd;*/
}

.golfmeeterInfoBox td {
    margin: 0 10px;
    min-width: 100px;
    max-width: 120px;
    text-align: center;
}

.golfmeeterInfoBox {
    margin:0 auto;
}

.golfmeeterInfoBox li {
    font-size: 10px;
}

.golfmeeterInfoBox img {
     min-width: 60px;
    max-width: 83.5px;
}

.golfmeeterInfoBox li:nth-of-type(1) {
    margin: -23px 10px 0 10px;
}

.golfmeeterInfoBox li:nth-of-type(2) {
 padding-top: 5px;
}

/*----------Create Event Box----------*/

.createEventBox button{
	width:200px;
	height:70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
	border-radius: 5px;
	position: absolute;
	margin: 60px 28px;
	background-color: #ee4d00;
	color: #fff;
	text-transform: uppercase;
}

.createEventBox .btn-default:hover,
.createEventBox .btn-default:focus {
	background-color: #72bf00;
	color:#fff;
}

.mapMarkerIcon span,
.listIcon span {
	margin-top: 2px;
	margin-left: -13px;
}


.profileBox {
	height: 900px;
}


.profileBox img{
	margin-left: 17.5%;
	margin-top: 10px;
	margin-bottom: 15px;
}

.profileBox #profileBoxInformation{
	text-align: center;
	margin-top: 10px;
}

span#profileName {
	font-weight: bold;
	font-size: 20px;
}

.form-inline {
	text-align: justify;
}
/*----------Activities Box---------*/

.activitiesBox {
	height:900px;
}

.activitiesBox .btn-default {
	border-radius: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	background-color: #ee4d00;
    margin-top: 10px;
}

.activitiesBox input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0
	border-radius: 0;
}

.activitiesBox .row {
	margin:20px 1px;
}

.activitiesBox .col-md-9,
.activitiesBox .col-md-3 {
	margin-top: 15px;
}

.activitiesBox .col-md-3 {
	border:none;
	background-color: none;
	width:10%;
}

.activitiesBox .col-md-3 img{
	margin-left: -15px;
}

.activitiesBox .col-md-9{
	font-size: 14px;
	width: 90%;
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.15);
}

.activitiesBox span {
    font-size: 30px;
    margin-top: 10px;
}

.activitiesBox .glyphicon-map-marker,
.activitiesBox .glyphicon-tags{
    margin-left: 5px;
}

.activitiesBox #shareButtonArea {
    margin-top: 10px;

    width:400px;
    display: inline;
}

#postArea {
	border-top: 1px solid #eee;
}

.mainPostBox img {
	width:100%;
}

#namePost {
	font-weight: bold;
	margin-bottom: 0;
}


#postDescription{
	font-size: 14px;
	margin-top: 10px;
}

#postingBox{
	overflow: auto;
	height:745px;
	border-top: 2px solid #eee;
	/*border-bottom: 2px solid #eee;*/
	margin-top: 15px;
}

/*--------Calendar Box--------*/

.calendarBox {
       height:900px;
}

.calendarTable {
       font-size: 13px;
       table-layout: fixed;
       width:250px;
       margin:10px auto;
}

.calendarTable td {
       border:1px solid #ddd;
       text-align: center;
       padding:5px;
}

.trHeader {
       /*/background: rgba(238, 77, 0, .7);/*/
       background-color: #aaa;
       font-weight: bold;
}

.booked {
    font-weight: bold;
    background-color: #bfe563;
}

.eventBox h5 {
    padding-left: 5px;
}

.foursomeBox {
	border-top: 1px solid #ddd;
}

.foursomeBox .row {
    width:300px;
}

.foursomeBox .row li {
	display: inline;

}

.foursomeBox .eventDate {
    font-weight:bold;
    font-size: 18px;
}

.foursomeBox .eventTitle {
    text-transform:uppercase;
}

.foursomeBox .eventLocation,
.foursomeBox .eventTime{
    font-size: 13px;
}

.progressBox,
.dealsBox {
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 30px;
	padding-left: 30px;
	border-top: 2px solid #eee;
	height:250px;
	background-color: #fff;
}

/*------glyphs-------*/


.filterLink,
.listIcon span,
.mapMarkerIcon span{
	position: absolute;
	width:98%;
	text-align: right;
	text-decoration: none;
	color:#72bf00;
	font-size: 18px;
}

.listIcon span {
    font-size: 16px;
}

.boxIcon h5 {
	margin-top: 5px;
	margin-left: -7px;
}

.boxIcon img {
	opacity: .7;
	margin-bottom: 5px;
}

.progressBox .boxIcon,
.dealsBox .boxIcon {
	margin-left: -70px;
	margin-top: -10px;
}

.profileBoxIcon {
	margin-top: -15px;
	margin-left: -65px;
}

.profileBoxIcon img{
	margin-top: 10px;
	opacity: .7;
}

.progressBox .boxIcon img,
.dealsBox .boxIcon img{
	margin-bottom: 10px;
}

/*--------footer---------*/

footer{
	margin-top:20px;
}

a:hover {
    text-decoration: none;
}

button {
    float: right;
}

ul.dropdown-menu {
    margin-top: -4px;
    margin-left: 1024px;
}/*--------footer---------*/

