
body {
        background: #444 url(vector.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}



/*----------Navigation Bar-------------*/

/*This navigation bar is specific only to Login.html & signup.html*/

.signUpButton {
    background-color: #ee4d00;
    color:#fff;
    border: none;
    font-weight:normal;
    text-transform: uppercase;
}

.navbar-right {
    margin-left: 10px;
    border:none;
    text-transform: uppercase;
    width:100px;
}


/*-------------------------------------*/


#data-dashboard {
    width: 400px;
    margin: 60px auto;
    border-radius: 10px;
    text-align: center;
}

.loginFormBox {
    background-color: rgba(255,255,255, .9);
    border: 1px solid #eee;
    margin: 220px auto 0 auto;
    -webkit-box-shadow: 0 5px 13px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    0 5px 13px rgba(50, 50, 50, 0.55);
    box-shadow:         0 5px 13px rgba(50, 50, 50, 0.55);
}

.loginFormBox a {
    color: #75d512;
    text-decoration: none;
}

h3 {
    padding-top: 20px;
    text-transform: none;
}

.loginForm .form-control {
    font-size: 15px;
    width:300px;
    height:50px;
    margin: 10px auto;
}

.first {
    margin-top:50px;
}

.loginFormBox p {
    margin-left: 55px;
    margin-top: -10px;

}

.login {
    background-color: #ee4d00;
    color: #fff;
    margin-bottom: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    letter-spacing: .15em;
    font-weight: light;
}

#incorrect {
    color: #ee4d00;
    margin-top: 5px;
}

.loginFormBox .login:hover,
.loginFormBox .login:focus {
    background-color: #72bf00;
    color:#fff;
    border: none;
}

