{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

   <head>
   	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'assets/stylesheets/bootstrap.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'assets/stylesheets/global.css' %}" type="text/css" media="screen" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>




   
    <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/js/tracker.js' %}"></script> -->
   </head>

  <body>
    <content>{% block content %}{% endblock %}</content>

  </body>


</html>
