{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>

    <title>Golfmeet: Dashboard</title>

    <!-- stylesheets -->
    

</head>


<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'assets/images/Golfmeet-logo5.png' %}" height="45px">
        </a>
      <div class="nav navbar-nav navbar-right">
            <div class="dropdown">
                   <span id="welcome">Welcome, {{ dashboard_user }}!</span>
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Notifications</a></li>
                      <li><a href="#">About Golfmeet</a></li>
                      <li class="divider"></li>
                      {% if user.is_authenticated %}
                      <li><a href="/logout/">Logout</a></li>
                      {% else %}
                      <!-- <a href="/rango/register/">Register Here</a> -->
                      <!-- <a href="/rango/login/">Login</a> -->
                      {% endif %}
                    </ul>
            </div>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row bodyBox">
            <div class="col-md-9 golfMeeterBox">
                <a href="" class="filterLink"><span class="glyphicon glyphicon-edit"></span></a>
                <div class="boxIcon">
                    <h5><span><img src="{% static 'assets/images/golfMeetersIcon.png' %}" width="30px"></span>
                   GOLFMEETERS</h5>
                </div>
                <div class="scrollie">
                    <table class="golfmeeterInfoBox">
                        <tr>
                            {% for user in users %}
                             <td>
                              <a href="">
                              <ul>
                                <li><img src="{% static 'assets/images/profileImageIcon.png' %}" title= "Invite to buddy list!" alt="Profile Image" class="img-thumbnail" >
                               </li>
                                    <li class="golfers" id="profileName">{{  user.name }}</li>
                                    <li class="golfers">{{  user.skill_level }}, {{  user.gender }}</li>
                                    <li class="golfers">{{  user.location }}</li>
                              </ul>
                              </a>
                             </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-3 createEventBox">
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Create Event</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 profileBox">
                <a href="/dashboard/profile/">
                    <div class="profileBoxIcon">
                        <h5><span><img src="{% static 'assets/images/profileIcon.png' %}" width="30px"></span>
                        PROFILE</h5>
                    </div>
                    <a href="/dashboard/profile/profile_view/"><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="170px"></a>
                      <ul id="profileBoxInformation">
                      <li><span id="profileName"> {{ dashboard_user }}</span></li>
                      <li> {{ request.user.userinfo.skill_level }} </li>
                      <li> {{ request.user.userinfo.location }}</li>
                      </ul>
                </a>

      <div class=" progressBox"><div class="boxIcon">
        <a href="tracker">
        <h5><span><img src="{% static 'assets/images/trackerIcon.png' %}" width="30px"></span>
        TRACKER</h5>
        </a>
      </div></div>
      <div class="dealsBox"><div class="boxIcon">
        <h5><span><img src="{% static 'assets/images/dealsIcon.png' %}" width="30px"></span>
        DEALS</h5>
      </div></div>
    </div>
    <div class="col-md-6 activitiesBox">
        <div id="">
            <h3 id="activitiesWall">Activities Wall</h3>
            <form>
              <input type="text" rows="2" class="form-control">
              <button type="button" class="btn btn-default">Share</button>
            </form>
        </div>
        <div id="postingBox">
           <div class="row">
              <div id="postArea">

                  <div class="col-md-3">
                    <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" width="50px" >
                  </div>
                   <div class="col-md-9">
                    <div class="mainPostBox">
                    <h5 id="namePost">Nina's Post</h5>
                    <p id="postDate" datetime="">11/23/13, 3pm</p>
                    <img src="{% static 'assets/images/golfmeet-icon.png' %}" alt="Profile Image" width="100%" >
                    <p id="postDescription"> nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                   </div>
                  </div>
                </div>
                <div id="postArea">
                  <div class="col-md-3">
                    <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" width="50px" >
                  </div>
                  <div class="col-md-9">
                    <div class="mainPostBox">
                    <h5 id="namePost">Ronald's Post</h5>
                    <p id="postDate" datetime="">11/24/13, 2:15pm</p>
                     <p>MySQL is a popular open source database that you may want to install locally to make sure that it behaves the same as your production instance of MySQL (if that’s what you’re running). Rails abstracts a lot of the different database differences to your app, but you still may want to actually run MySQL just to have the added confidence that there aren’t any subtle quirks/differences.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

    </div>
    <div class="col-md-3 calendarBox"><div class="boxIcon">
        <h5><span><img src="{% static 'assets/images/calendarIcon.png' %}" width="30px"></span>
        EVENTS</h5>
        <table class="calendarTable">
          <thead>
            <tr class="trHeader">
              <td>M</td><td>T</td><td>W</td><td>Th</td><td>F</td>

              <td>S</td>

              <td>Sn</td>
            </tr>
          </thead>
            <tr>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
            </tr>
            <tr>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
            </tr>
            <tr>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
            </tr>
            <tr>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

        </table>
        <div class="eventBox">
              <h5>Upcoming Events</h5>

              <div class="foursomeBox">
                <ul>
                  <li>11/23/13</li>
                  <li>Harding Park, San Francisco,CA</li>
                  <li>10:30am - 1:30pm</li>
                  <li>
                    <ul class="row">
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="40px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="40px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="40px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="40px"></li>

                    </ul>
                  </li>
                </ul>
              </div>

        </div>
        <div class="eventBox">
              <h5>Golfmeeter Buddy List</h5>
              <a href="/friends/"
              <div class="foursomeBox">
                <ul>
                    <ul class="row">
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                      <li><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                    </ul>
                  </li>
                </ul>
              </div>
              </a>
        </div>
        <form action="/dashboard/search/" method="get">
           <label for="id_q">Search username:</label>
           <input id="id_q" name="q" type="text" />
           <input type="submit" value="Submit" />
            You searched for "{{ q }}" and the results are listed below.
           <li> {{ results }}</li>
      </form>
      </div>
      
    </div>
    </div>

      
    </div>



    <footer>
    <div class="container">
    <!--  <ul class="navbar-text">
      <li>About</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Terms and Conditions</li>
    </ul> -->
    <p> &copy; Golfmeet. All Rights Reserved 2013.</p>

    </div>


    <!-- Modal -->
		<div class="modal fade" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" area-hidden="true">×</button>
		        <h4 class="modal-title" id="myModalLabel">Schedule a Golfmeeting!</h4>
		      </div>
		      <div class="modal-body">
                <p><strong>Host: Ronald</strong></p>
				        <p>Date:</p>
				        <p>Place:</p>
                <p>Time:</p>

                 <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                 <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                 <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
                 <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="60px"></li>
		      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		<div>

    </footer>

{% endblock %}
</body>



 </html>