
{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>

    <title>Golfmeet: Dashboard</title>

    <!-- stylesheets -->
    <link href="{% static 'assets/stylesheets/dashboard.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'assets/stylesheets/profile.css' %}" type="text/css" media="screen" rel="stylesheet">

</head>


<body>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
        
        <h2 class="navbar-brand"><a href="#">
            GolfMeet</a></h2>
          
          <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" width="30px" ></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">About Golfmeet</a></li>
                        <li class="divider"></li>
                        {% if user.is_authenticated %}
                        <li><a href="/logout/">Logout</a></li>
                        {% else %}
                      
                        {% endif %} 
                    </ul>    
                </li>
                <li class="form-group search-form">  
                      <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                </li>
          </ul>
        </div>
      </div>
    <form method="POST" action="">
    {% csrf_token %}
    <div class="container">
      <div class="row">
{#                 {{ form.as_p }}#}
            <div class="col-md-6 column">
                    <div class="col-md-6  profileLeftBox">
{#                     <a href="" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>#}
                        <h4>Profile Form</h4>
                            <div class="container profileForm">
                                 <div class="row">
                                    <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="170px">
                                    <div class="column">
                                        <div class="form-group">
                                            {{ form.name }}
                                            <!-- <input class="form-control"type="text" placeholder="Name"> -->
                                        </div>
                                        <div class="form-group">
                                            {{ form.location }}
                                           <!--  <input class="form-control"type="text" placeholder="City, State"> -->
                                        </div>
                                        <div class="form-group">
                                            {{ form.birth_date }}
                                            <!-- <input class="form-control" type="date" id="dateForm" placeholder="Birthdate"> -->
                                            <p class="formDescription">Birthdate</p>
                                        </div>
                                        <div class="form-group">
                                            {{ form.skill_level }}
                                            <!-- <select class="form-control">
                                                <option>Skill Level</option>
                                                <option>Beginner</option>
                                                <option>Intermediate</option>
                                                <option>Amateur</option>
                                                <option>Professional</option>
                                            </select> -->
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        <a href="" class="saveIcon"><span class="glyphicon glyphicon-check"></span></a>
                  </div>

                  <div class="col-md-6  profileLeftBox">
                                               {#                        <a href="" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>#}
                      <h4>Contact Information</h4>
                        <div class="contactForm">
                            <div class="form-group">
                              {{ form.website }}
                              <!-- <input class="form-control"type="text" placeholder="Phone Number"> -->
                            </div>
                            <div class="form-group">
                              {{ form.email }}
                             <!--  <input class="form-control" type="email" placeholder="Email Address"> -->
                            </div>
                        </div>
                      <a href="" class="saveIcon"><span class="glyphicon glyphicon-check"></span></a>
                  </div>

                  <div class="col-md-6  profileLeftBox">
                                                {#                        <a href="" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>#}
                      <h4>Professional Background</h4>
                        <div class="experienceForm">
                          {{ form.gender }}
                         <div class="form-group">
                                <select class="form-control">
                                    <option>Industry</option>
                                    <option>Beginner</option>
                                    <option>Intermediate</option>
                                    <option>Amateur</option>
                                    <option>Professional</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control"type="text" placeholder="Occupation">
                            </div>
                            <div class="form-group">
                                <input class="form-control"type="email" placeholder="Company">
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input class="form-control" type="date"><span>  -  </span>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                          
                        </div>
                                                {#                          <a href="" class="addIcon"><span class="glyphicon glyphicon-plus"></span></a>#}
                      <a href="" class="saveIcon"><span class="glyphicon glyphicon-check"></span></a>
                  </div>

                  <div class="col-md-6  profileLeftBox">
                                                {#                        <a href="" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>#}
                      <h4>Education</h4>
                        <div class="educationForm">
                            <div class="form-group">
                              <input class="form-control"type="text" placeholder="College/University">
                            </div>
                            <div class="form-group">
                              <input class="form-control"type="email" placeholder="Degree">
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input class="form-control" type="date"><span>  -  </span>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                        </div>
                      <a href="" class="saveIcon"><span class="glyphicon glyphicon-check"></span></a>
                  </div>

                  <div class="col-md-6  profileLeftBox">
                                                {#                        <a href="" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>#}
                      <h4>Organizations</h4>
                        <div class="organizationsForm">
                            <div class="form-group">
                                <input class="form-control"type="text" placeholder="Organization">
                            </div>
                            <div class="form-group">
                                <input class="form-control"type="email" placeholder="City, State">
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input class="form-control" type="date"><span>  -  </span>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                        </div>                      {#                        <a href="" class="addIcon"><span class="glyphicon glyphicon-plus"></span></a>#}
                      <a href="" class="saveIcon"><span class="glyphicon glyphicon-check"></span></a>
                  </div> 
                  

            </div>

            <div class="col-md-6 column rightBox">

                <div class="col-md-6 photoBox">
                    <h4>Photos</h4>
                    {{ form.picture }}
                    <p><a class="addIcon"><span class="glyphicon glyphicon-plus "></span></a><span class="addPopUp">Add Photo</span></p>

                    <p class="instructions">Your Photo Box is empty. Click the plus sign to upload your first photo. </p>
                </div>

                <div class="col-md-6 videosBox">
                    <h4>Videos</h4>
                    <p><a class="addIcon"><span class="glyphicon glyphicon-plus "></span></a><span class="addPopUp">Add Video</span></p>
                    <p class="instructions">Your Video Box is empty. Click the plus sign to upload your first photo. </p>

                </div>

                <div class="col-md-6 golfBagBox">
                    <h4>My Gear</h4>
                </div>

            </div>
            
        </div>
    </div>
    
    </form>


    <footer>
        <div class="container">
        <!--  <ul class="navbar-text">
          <li>About</li>
          <li>Contact</li>
          <li>Privacy Policy</li>
          <li>Terms and Conditions</li>
        </ul> -->
        <p> &copy; Golfmeet. All Rights Reserved 2013.</p>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'assets/js/profile.js' %}"></script>
{% endblock %}
</body>
</html>






    