{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>

    <title>Golfmeet: Dashboard</title>

    <!-- stylesheets -->
    <link href="{% static 'assets/stylesheets/dashboard.css' %}" type="text/css" media="screen" rel="stylesheet">
    
</head>


<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'assets/images/Golfmeet-logo5.png' %}" height="45px">
        </a>
      <button type="button" class="btn btn-default dropdown-toggle" data-target="#" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
      </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </nav>
   
    <img src="{% static 'assets/images/profileImageIcon.png' %}" alt="Profile Image" class="img-thumbnail" width="170px">

    <p>Thanks for signing up! 
    <p>Click to <strong><a href="/login/">login!</a></strong></p>

{% endblock %}
</body>
</html>



